.App {
    width: 180px;
    height: 120px;
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.App-button {
    padding: 6px 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

.image-container > img {
    height: 100px;
    width: 80px;
}